<nav style="background-color: #008CBA; padding: 10px;">
  <a href="/" style="color: white; margin-right: 15px; text-decoration: none;">Home</a>
  <a href="/games" style="color: white; margin-right: 15px; text-decoration: none;">All Games</a>
  <a href="/games/new" style="color: white; text-decoration: none;">Create Game</a>
</nav>

